<header class="modal-header">
  <h4 class="modal-title">View Supplier</h4>
  <button type="button"
          class="close"
          aria-label="Close"
          (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</header>

<main class="modal-body mx-3">
  <div class="row">
    <div class="col-4 viewLabel">ID:</div>
    <div class="col-8">{{ supplier?.id }}</div>
  </div>
  <div class="row">
    <div class="col-4 viewLabel">Name:</div>
    <div class="col-8">{{ supplier?.name }}</div>
  </div>
  <div class="row">
    <div class="col-4 viewLabel">Address 1:</div>
    <div class="col-8">{{ supplier?.address1 }}</div>
  </div>
  <div class="row">
    <div class="col-4 viewLabel">Address 2:</div>
    <div class="col-8">{{ supplier?.address2 }}</div>
  </div>
  <div class="row">
    <div class="col-4 viewLabel">City:</div>
    <div class="col-8">{{ supplier?.city }}</div>
  </div>
  <div class="row">
    <div class="col-4 viewLabel">State:</div>
    <div class="col-8">{{ supplier?.state }}</div>
  </div>
  <div class="row">
    <div class="col-4 viewLabel">Zip Code:</div>
    <div class="col-8">{{ supplier?.zipCode }}</div>
  </div>
  <div class="row">
    <div class="col-4 viewLabel">Country:</div>
    <div class="col-8">{{ supplier?.country }}</div>
  </div>
  <div class="row">
    <div class="col-4 viewLabel">Contact:</div>
    <div class="col-8">{{ supplier?.contactName }}</div>
  </div>
  <div class="row">
    <div class="col-4 viewLabel">Contact Phone Number:</div>
    <div class="col-8">{{ supplier?.contactPhoneNumber }}</div>
  </div>
  <div class="row">
    <div class="col-4 viewLabel">Contact Email:</div>
    <div class="col-8">{{ supplier?.contactEmail }}</div>
  </div>
  <div class="row">
    <div class="col-4 viewLabel">Active:</div>
    <div class="col-8">{{ supplier?.active }}</div>
  </div>
</main>

<footer class="modal-footer">
  <button type="button"
          class="btn btn-secondary"
          (click)="activeModal.close()">
    Close
  </button>
</footer>
