<header class="row">
  <nav class="navbar navbar-expand-md navbar-light col-12">
    <a class="navbar-brand"
       [routerLink]="['/home']"
       tabindex="-1"
       aria-label="Acme Products"
       (click)="navbarCollapsed=true">
      ACME
    </a>
    <button class="navbar-toggler navbar-toggler-right"
            type="button"
            (click)="navbarCollapsed=!navbarCollapsed"
            [attr.aria-expanded]="!navbarCollapsed"
            aria-controls="navbarContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarContent"
         class="collapse navbar-collapse align-self-stretch"
         [ngbCollapse]="navbarCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="['/home']"
             [routerLinkActive]="['active']"
             (click)="navbarCollapsed=true">
            <div title="Acme Home">
              <fa-icon [icon]="faHome" class="mr-1"></fa-icon>
              Home
            </div>
          </a>
        </li>
        <ng-container *ngIf="isAuthenticated">
          <ng-container *ngFor="let menu of menus$ | async">
            <li *ngIf="!menu.disabled"
                class="nav-item dropdown"
                ngbDropdown>
              <a class="nav-link dropdown-toggle"
                 id="menu.id"
                 tabindex="0"
                 ngbDropdownToggle>
                <div>
                  {{ menu.title }}
                </div>
              </a>
              <div class="dropdown-menu"
                   aria-labelledby="menu.id"
                   ngbDropdownMenu>
                <ng-container *ngFor="let link of menu.links">
                  <a *ngIf="!link.disabled"
                     ngbDropdownItem
                     class="dropdown-item"
                     [routerLink]="['link.path']"
                     [routerLinkActive]="['active']"
                     (click)="navbarCollapsed=true">
                    {{ link.title }}
                  </a>
                  <div *ngIf="link.disabled"
                       class="dropdown-item disabledNavLink">
                    {{ link.title }}
                  </div>
                </ng-container>
              </div>
            </li>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="isAuthenticated && hasAdminRole()">
          <li *ngFor="let menu of adminMenus$ | async"
              class="nav-item dropdown"
              ngbDropdown>
            <a class="nav-link dropdown-toggle"
               id="menu.id"
               tabindex="0"
               ngbDropdownToggle>
              <div>
                {{ menu.title }}
              </div>
            </a>
            <div class="dropdown-menu"
                 aria-labelledby="menu.id"
                 ngbDropdownMenu>
              <a *ngFor="let link of menu.links"
                 ngbDropdownItem
                 class="dropdown-item"
                 [routerLink]="['link.path']"
                 [routerLinkActive]="['active']"
                 (click)="navbarCollapsed=true"
                 [disabled]="link.disabled">
                {{ link.title }}
              </a>
            </div>
          </li>
          </ng-container>
      </ul>
      <ul class="navbar-nav">
        <li *ngIf="!isAuthenticated"
            class="nav-item">
          <a [routerLink]="['/login']"
             class="nav-link"
             (click)="navbarCollapsed=true">
            <div>
              <fa-icon [icon]="faSignInAlt" class="mr-2"></fa-icon>
              Login
            </div>
          </a>
        </li>
        <li *ngIf="isAuthenticated"
            class="nav-item dropdown"
            ngbDropdown>
          <a class="nav-link dropdown-toggle"
             id="header-user-dropdown"
             tabindex="0"
             ngbDropdownToggle>
            <div>
              <fa-icon [icon]="faUser" class="mr-2"></fa-icon>
              {{ username }}
            </div>
          </a>
          <div class="dropdown-menu"
               aria-labelledby="header-user-dropdown"
               ngbDropdownMenu>
            <a ngbDropdownItem
               class="dropdown-item"
               tabindex="0"
               (keyup.enter)="logout()"
               (click)="logout()">
              <div>
                <fa-icon [icon]="faSignOutAlt" class="mr-2"></fa-icon>
                Logout
              </div>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
