/* You can add global styles to this file, and also import other style files */

html {
  position: relative;      /* Ensures the footer stays at the bottom */
  min-height: 100%;        /* Ensures the layout uses 100% of the available height */
  font-size: 16px;         /* Base font setting for consistency across browsers */
}

main {
  padding-bottom: 3.75rem;  /* Padding to prevent the main body from extending behind the footer */
}
